<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="log4net.Config" value="Conf/log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings configSource="Conf\Database.config" />
  <startup>
  </startup>
  <!-- WCF Start -->
  <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="LikuWSSoap" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://192.168.111.41:8111/LikuWS.asmx" binding="basicHttpBinding"
            bindingConfiguration="LikuWSSoap" contract="huaxMes.LikuWSSoap"
            name="LikuWSSoap" />
      </client>
  </system.serviceModel>
  <!-- WCF End -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

	
</configuration>